* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

.navbar {
  margin: 2rem 3rem;
}

.navbar__links {
  width: 600px;
  height: 48px;
}

.navbar__btn {
  background: transparent;
}

.navbar__btn--style {
  border-radius: 1rem;
  padding: 0.7rem 1.5rem;
}
