.navbar {
  margin: 1.5rem auto;
  width: 1110px;
}

.navbar__logo {
  width: 140px;
}

.navbar__links {
  width: 550px;
}

.navbar__link--name {
  position: relative;
  padding-bottom: 5px;
}

.navbar__link--name:after {
  content: "";
  position: absolute;
  background-color: #00aaba;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  border-radius: 50px;
}

.navbar__link--name:hover {
  color: #00aaba;
}

.navbar__link--name:hover:after {
  width: 100%;
}

.navbar__btn {
  background: transparent;
}

.navbar__btn--style {
  border-radius: 0.4rem;
  padding: 0.5rem 1.2rem;
}

.navbar__btn--style:hover {
  outline: 3px solid #00aaba;
  transition: 0.2s;
}
