.portfolios {
  width: 1000px;
  height: 280px;
  margin: 90px auto;
}

.portfolio__card {
  width: 320px;
  height: 290px;
  border-radius: 25px;
  padding: 30px;
}

.portfolio__card:hover {
  background-color: #15333d;
  transition: 0.9s;
}

.portfolio__card--img {
  width: 170px;
}

.portfolio__card--description {
  letter-spacing: 0.8px;
  line-height: 21px;
  margin-top: 8px;
}

.portfolio__card--link img {
  padding-left: 10px;
}
